<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Glassmorphism Card Design</title>
        <link rel="stylesheet" href="static/css/teamstyle.css">
</head>
<body>

    <div class="container">
        <div class="card" data-tilt>
            <img src="static/img/Profile1.jpg" >
            <h2>Asish Tony</h2>
            <p>I'm student PeerMentor at KL University</p>
            <div class="links">
                 <a href="https://facebook.com"><img src="static/img/facebook.png"></a>
                <a href="https://twitter.com"><img src="static/img/twitter.png"></a>
                <a href="https://telegram.com"><img src="static/img/telegram.png"></a>
            </div>
            <a href="#" class="btn"> message me</a>    
        </div>
        <div class="card" data-tilt>
            <img src="" >
            <h2>Thanmai</h2>
            <p>I'm student PeerMentor at KL University</p>
            <div class="links">
                <a href="https://facebook.com"><img src="static/img/facebook.png"></a>
                <a href="https://twitter.com"><img src="static/img/twitter.png"></a>
                <a href="https://telegram.com"><img src="static/img/telegram.png"></a>
            </div>
            <a href="#" class="btn"> message me</a>    
        </div>
        <div class="card" data-tilt>
            <img src="" >
            <h2>Sriyaa</h2>
            <p>I'm student PeerMentor at KL University</p>
            <div class="links">
                <a href="https://facebook.com"><img src="static/img/facebook.png"></a>
                <a href="https://twitter.com"><img src="static/img/twitter.png"></a>
                <a href="https://telegram.com"><img src="static/img/telegram.png"></a>
            </div>
            <a href="#" class="btn"> message me</a>    
        </div>
    </div>


    <script src="static/js/vanilla-tilt.js"></script>
</body>
</html>